Check to see the token/char distributions in the synthetic settings.

In [14]:
import pandas as pd
from glob import glob 
from collections import defaultdict
import tiktoken 

encoding = tiktoken.encoding_for_model("gpt-4o-mini")

In [15]:
data_globs = '../data/wiki_gen/**/*/*.jsonl'
data_paths = glob(data_globs)

def convert_path_to_metadata(path):
    parts = path.split('/')
    return {
        'model_name': parts[3],
        'lang': parts[4],
    }

nested_chars = defaultdict(lambda: defaultdict(lambda: 0))
nested_tokens = defaultdict(lambda: defaultdict(lambda: 0))

for file in data_paths:
    metadata = convert_path_to_metadata(file)
    df = pd.read_json(file, lines=True)
    model_name = metadata['model_name']
    lang = metadata['lang']
    article_length = df['article'].apply(len).sum()
    article_tokens = df['article'].apply(lambda x: len(encoding.encode(x))).sum()
    nested_chars[lang][model_name] += article_length
    nested_tokens[lang][model_name] += article_tokens

In [16]:
pd.DataFrame(nested_chars)

,hi,et,en,ru,fr,ja,de
Meta-Llama-3-1-70B-Instruct-htzs,18928716,25237325,50938687,32955870,49419971,15856788,34785497
Meta-Llama-3-1-8B-Instruct-nwxcg,19397605,20914733,45691373,32078229,45442857,16263999,27493196

In [17]:
pd.DataFrame(nested_tokens)

,hi,et,en,ru,fr,ja,de
Meta-Llama-3-1-70B-Instruct-htzs,5833839,8152737,12552494,9611018,12784973,11617723,8604355
Meta-Llama-3-1-8B-Instruct-nwxcg,5927978,6828708,11247800,9303007,11820405,11559008,6717681